.form-data{
    margin-top: -15px;
    height: auto;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    background: rgb(255, 255, 255, 0.3);
}
.form-page3{
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &:hover{
        transform: scale(1.019);
    }
}
.form-data h1{
    background: rgb(14,67,140);
    color: white;
    margin-top: -10px;
    width: 100%;
    text-align: center;
    padding: 15px 0px;
    font-size: 25px;
    &:hover{
        transform: scale(1.011);
    }

}

.form-page3 p:nth-child(1){
    font-size: 18px;
    font-weight: 500;
    padding-left: 10px;
    color: rgb(185, 0, 0);
    &:hover{
        transform: scale(1.019);
    }
}
.form-page3 p:nth-child(2){
    font-size: 18px;
    margin-left: 10px;
    font-weight: 500;
    padding-right: 5%;
    color: rgb(14,67,140);
    &:hover{
        transform: scale(1.019);
    }
}

@media (max-width:1180px) {
    .form-data{
        width: 70%;
    }
    .form-page3{
        width: 90%;
    }
    .form-data h1{
        width: 100%;
        padding: 15px 0px;
        font-size: 22px;
    }
    
    .form-page3 p:nth-child(1){
        font-size: 15px;
        font-weight: 500;
    }
    .form-page3 p:nth-child(2){
        font-size: 15px;
        font-weight: 500;
        padding-right: 10%;
    }
}
@media (max-width:720px) {
    .form-data{
        width: 75%;
    }
    .form-page3{
        width: 90%;
    }
    .form-data h1{
        width: 100%;
        padding: 13px 0px;
        font-size: 19px;
    }
    
    .form-page3 p:nth-child(1){
        font-size: 13px;
        font-weight: 500;
    }
    .form-page3 p:nth-child(2){
        font-size: 13px;
        font-weight: 500;
        padding-right: 10%;
    }
}
@media (max-width:520px) {
    .form-data{
        width: 80%;
    }
    .form-page3{
        width: 90%;
    }
    .form-data h1{
        width: 100%;
        padding: 15px 0px;
        font-size: 15px;
    }
    
    .form-page3 p:nth-child(1){
        font-size: 12px;
        font-weight: 500;
    }
    .form-page3 p:nth-child(2){
        font-size: 12px;
        font-weight: 500;
        padding-right: 10%;
    }
}